html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}@font-face{font-family:"iconfont";src:url("http://at.alicdn.com/t/font_1413082920_197699.eot");src:url("http://at.alicdn.com/t/font_1413082920_197699.eot?#iefix") format("embedded-opentype"),url("http://at.alicdn.com/t/font_1413082920_197699.woff") format("woff"),url("http://at.alicdn.com/t/font_1413082920_197699.ttf") format("truetype"),url("http://at.alicdn.com/t/font_1413082920_197699.svg#iconfont") format("svg")}.iconfont{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px;-moz-osx-font-smoothing:grayscale}.icon-search:before{content:"\e602"}.icon-add:before{content:"\e601"}.icon-iphone:before{content:"\e605"}.icon-clock:before{content:"\e606"}.icon-arrow-down:before{content:"\e603"}.icon-alert:before{content:"\e600"}.icon-close:before{content:"\e604"}.iconfont{padding-right:3px}.iconfont.icon-search{font-size:18px}.m-t-20{margin-top:20px}.m-t-25{margin-top:25px}.m-r-5{margin-right:5px}.m-l-40{margin-left:40px}.m-l-60{margin-left:60px}.fl{float:left !important}.fr{float:right !important}.hide{display:none !important}.pager{word-wrap:break-word;word-break:break-all;line-height:30px}.pager a,.pager span{color:#888;font-size:14px;border:1px solid #d0d0d0;background-color:#fff;margin:0 2.5px;display:inline-block;padding:0 8px;min-width:15px;text-align:center}.pager a:hover{text-decoration:none;color:#888}.pager span{background-color:#ddd}.pager.align-right{text-align:right}.pager.align-left{text-align:left}.pager.align-center{text-align:center}.pager .total{color:#888;font-size:14px;display:inline-block;line-height:30px;margin-right:10px}.pager .page-ellipsis{cursor:default;border:0}.btn-1{display:inline-block;height:37px;padding:0 20px 0 20px;line-height:37px;background-color:#C8400E;color:#FFF;cursor:pointer;border:1px solid #DD5D06;border-bottom-width:2px;vertical-align:top;outline:none;font-size:16px;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}.btn-1:hover{color:#FFF;text-decoration:none;background-color:#E2400E}.btn-2{display:inline-block;height:37px;padding:0 20px 0 20px;line-height:37px;background-color:#f7f7f7;color:#333;cursor:pointer;border:1px solid #d0d0d0;border-bottom-width:2px;vertical-align:top;text-align:center;outline:none;background-color:#fff;background-image:-moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f7f7f7));background-image:-webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%);background-image:-o-linear-gradient(top, #fff 0%, #f7f7f7 100%);background:-ms-linear-gradient(top, #fff 0%, #f7f7f7 100%);background:linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;font-size:16px}.btn-2 i{color:#666}.btn-2:hover{text-decoration:none;color:#FFF;border-color:#DD5D06;background:#C8400E}.btn-2:hover i{color:#FFF}.btn-disabled{display:inline-block;height:37px;padding:0 20px 0 20px;line-height:37px;background-color:#f7f7f7;color:#999;cursor:default;border:1px solid #d0d0d0;border-bottom-width:2px;vertical-align:top;text-align:center;outline:none;background-color:#fff;background-image:-moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f7f7f7));background-image:-webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%);background-image:-o-linear-gradient(top, #fff 0%, #f7f7f7 100%);background:-ms-linear-gradient(top, #fff 0%, #f7f7f7 100%);background:linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;font-size:16px}.btn-disabled i{color:#666}.ym-checkbox{width:0;height:0;-webkit-appearance:none;appearance:none;outline:none;position:absolute;left:0;top:0}.ym-checkbox+.icon{width:15px;height:15px;border:1px solid #D0D0D0;background-position:-10000px;background-color:#fff}.ym-checkbox:checked+.icon{border-color:#FF8300;background-position:-1px -1px}.ym-checkbox.checked+.icon{border-color:#FF8300;background-position:-1px -1px}.win-wrap{width:100%;height:100%;position:fixed;left:0;top:0;z-index:1000}.win-wrap .mask{width:100%;height:100%;position:fixed;left:0;top:0;z-index:1000;background-color:#000;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);opacity:0.4}.win-wrap .win-inner{position:fixed;left:50%;top:50%;background-color:#fff;z-index:10001;padding:20px}.win-wrap .win-inner .win-title{border-bottom:1px solid #d0d0d0;padding-bottom:20px}.win-wrap .win-inner .win-title h1{border-left:4px solid #C8400E;padding-left:5px;float:left}.win-wrap .win-inner .win-title .close-btn{float:right;padding-left:10px;cursor:pointer}.win-wrap .alert-window .action{border-top:1px solid #d0d0d0;text-align:center;padding-top:30px;margin-top:10px}.win-wrap .alert-window .action .btn{width:100px}.win-wrap .alert-window .msg{height:60px;line-height:20px;font-size:14px;padding-top:10px;overflow:hidden}
* {
	font-family: arial !important
}
body {
	font-size: 12px;
    line-height: 1.5;
    font-family: arial;
    color: #555;
}
a{color:#333;text-decoration:none}a:hover{color:#0099FF;text-decoration:underline}.cf{*zoom:1}.cf:before,.cf:after{display:table;content:"";line-height:0}.cf:after{clear:both}.align-top{vertical-align:top}.text-left{text-align:left !important}.text-right{text-align:right !important}.text-center{text-align:center !important}.text-highlight{color:red}span.required{color:red;padding-right:5px}
.head {
	width: 1150px;
    margin: 0 auto;
}
.head .top {
    line-height: 58px;
    height: 58px;
    padding: 10px 0px;
    overflow: hidden;
    max-width: 400px;
}
.head .top .head-left.logo {
    display: table-cell;
    vertical-align: middle;
    height: 58px;
    overflow: hidden;
}
.head .top .head-right{padding-top:34px;line-height:24px;font-size:14px;float:right;text-align:right;color:#666}.head .top .head-right a,.head .top .head-right span{display:inline-block;vertical-align:middle}.head .top .head-right .sep{color:#dedede;margin:0 10px}.head .top .head-right .qq{display:inline-block}.head .top .head-right .user-name a{color:#0099FF}.head .top .head-right .icon-qq{width:20px;height:24px;margin-right:5px;background:url("../images/qq.png") no-repeat;display:inline-block;vertical-align:middle}.head .top .head-right p{padding:0 0 10px 0;*padding:0 0 5px 0}.head .top .head-right p .loginOut{display:inline-block;*display:inline;*zoom:1;margin-left:7px}.head .top .head-right p .rightline{display:inline-block;*display:inline;*zoom:1;padding-right:11px;margin-right:11px;border-right:1px solid #ccc}
.head .menu {
    font-size: 14px;
    background: url(../Images/nav1_bg.jpg) repeat-x;
    height: 42px;
    margin-bottom: 10px; 
}
.head .menu .content {
	position: relative;
	margin: auto;
	font-size: 14px
}
.head .menu .content .nav .item {
    position: relative;
    display: block;
    width: 115px;
    background: url(../Images/nav1_split.jpg) no-repeat right 0;
    text-align: center;
    float: left;
    color: #fff;
    line-height: 42px;
}
.head .menu .content .nav .item a {
	display: block;
	width: 100%;
	height: 100%;
	color: #FFF
}
.head .menu .content .nav .item a:hover {
	text-decoration: none
	background-color: #C8400E;
}

.head .menu .content .nav .item .navBox {
	position: absolute;
	width: 168px;
	left: -16px;
	top: 43px;
	z-index: 100;
	padding-top: 17px;
	display: none
}
.head .menu .content .nav .item .navBox .nav-2 {
	background-color: #C8400E;
	padding: 10px 4px 10px 4px;
	border-radius: 3px
}
.head .menu .content .nav .item .navBox .nav-2 li {
	display: block;
	width: 160px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	border-radius: 3px
}
.head .menu .content .nav .item .navBox .nav-2 li:hover {
	background-color: #FFF
}
.head .menu .content .nav .item .navBox .nav-2 li:hover a {
	color: #333
}
.head .menu .content .nav .item .navBox .trigon {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: 9px;
	left: 80px;
	border: 4px solid transparent;
	border-bottom-color: #333
}
.head .menu .content .nav .item:hover {
	background-color: #C8400E;
}
.head .menu .content .nav .item:hover .navBox {
	display: block
}
.head .menu .content .eleProtocol, .head .menu .content .notice {
	position: absolute;
	display: block;
	height: 43px;
	padding: 0 32px 0 32px;
	top: 0;
	right: 0;
	line-height: 47px;
	color: #FFF;
	border-bottom: 4px solid transparent
}
.head .menu .content .eleProtocol:hover, .head .menu .content .notice:hover {
	text-decoration: none;
	background-color: #C8400E;
}
.head .menu .content .eleProtocol:hover a, .head .menu .content .notice:hover a {
	color: #333
}
.head .menu .content .eleProtocol.on, .head .menu .content .notice.on {
	background-color:#C8400E !important;
}
.head .menu .content .eleProtocol.eleProtocol, .head .menu .content .notice.eleProtocol {
	right: 150px
}
.head .menu .content .eleProtocol .notice-num, .head .menu .content .notice .notice-num {
	display: block;
	position: absolute;
	right: 20px;
	top: 10px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #FF4E4E
}
.crumbs{padding:0 0 7px 0;font-size:13px}.crumbs .notactive{color:#888}.crumbs .notactive:hover{text-decoration:none}.contain{width:1150px;margin:17px auto}.contain .box{border:1px solid #D0D0D0;background-color:#FFF}.contain .box-header{border-bottom:1px solid #d0d0d0;padding-bottom:20px;margin-bottom:20px}.contain .box-header h1{border-left:4px solid #C8400E;padding-left:5px}.leftLineTitle{color:#333;border-left:4px solid #FE8503;padding-left:6px}.icon{display:inline-block;vertical-align:middle;background:url(../images/icon.png) no-repeat}.checkBox{width:15px;height:15px;border:1px solid #D0D0D0;background-position:-10000px;background-color:#fff}.checkBox.checked{border-color:#FF8300;background-position:-1px -1px}.inputGroup{position:relative;display:inline-block;*display:inline;*zoom:1;cursor:text}.inputGroup input{height:100%;border:none;outline:none;background-color:transparent}.inputGroup .placeholder{display:block;position:absolute;height:100%;left:0;top:0;z-index:0;color:#888;cursor:text}.inputGroup .rightline{position:absolute;display:block;width:0;height:20px;right:0;top:10px;border-right:1px solid #E8E8E8}.inputGroup .connection{position:absolute;display:block;left:-12px;top:40px;width:267px;padding:1px;background-color:#FFF;border:1px solid #D0D0D0;z-index:10;display:none;max-height:300px;overflow:auto}.inputGroup .connection li{display:block;width:95%;height:30px;font-size:14px;padding-left:5%;line-height:30px;cursor:pointer}.inputGroup .connection li.choose,.inputGroup .connection li:hover{color:#FFF;background-color:#C8400E}.main-table{width:958px;margin:20px auto;border:1px solid #ddd;border-collapse:collapse}.main-table a{color:#0099FF;text-decoration:underline}.main-table .table-head{background-color:#F0F0F0;color:#333}.main-table .table-head th{height:45px;padding:0 0 0 15px;border:1px solid #ddd}.main-table td{font-size:14px;line-height:22px;padding:15px 16px 15px 16px;color:#898989;border:1px solid #ddd}.main-table td .waitForCheck{color:#FF7101;text-decoration:none}.main-table td .notPass{color:#FD3535;text-decoration:none}.mySelect{position:relative;width:158px;height:34px;line-height:34px;cursor:pointer;padding-left:11px;border:1px solid #D0D0D0}.mySelect .value{display:inline-block;*display:inline;*zoom:1;width:90px;white-space:nowrap;overflow:hidden}.mySelect .icon{position:absolute;width:20px;height:13px;right:7px;top:12px;background-position:-28px -3px}.mySelect .options{position:absolute;display:none;top:30px;left:-1px;border-top:8px solid transparent;z-index:10}.mySelect .options .list{background-color:#FFF;border:1px solid #D0D0D0;padding:1px}.mySelect .options .list li{font-size:14px;line-height:14px;padding:8px 14px 8px 14px;min-width:139px;cursor:pointer}.mySelect .options .list li:hover{background-color:#FF8402;color:#FFF}.mySelect:hover{border-color:#FF8402}.foot{color:#888;font-size:14px;text-align:center;margin-bottom:56px}.foot p{padding:5px}.foot a{display:inline-block;*display:inline;*zoom:1;color:#888}.foot a:hover{color:#0099FF}.foot .rightline{padding-right:11px;margin-right:11px;border-right:1px solid #ccc}.date-range-picker{font-size:0;display:inline-block}.date-range-picker .icon{width:26px;height:24px;background-position:-52px -22px;margin:-2px 10px 0 0}.date-range-picker .start-time,.date-range-picker .end-time,.date-range-picker .to{display:inline-block;width:107px;height:38px;padding:0;padding-left:11px;color:#333;line-height:38px;border:1px solid #D0D0D0;cursor:pointer;vertical-align:middle;outline:none;font-size:14px}.date-range-picker .to{width:40px;padding:0;border-left:none;border-right:none;text-align:center;color:#888;background-color:#F3F3F3}.date-range-picker.month-filter .mySelect{font-size:14px;width:90px;display:inline-block;vertical-align:middle;height:38px;line-height:38px}.showMsg{min-height:520px;padding:30px 51px 30px 51px;color:#888}.showMsg .title{padding-bottom:12px;border-bottom:1px solid #E8E8E8}.showMsg .title span{display:inline-block;*display:inline;*zoom:1;color:#333333;margin-right:50px}.showMsg .row2{margin-top:21px}.showMsg .row2 .searchGroup{display:inline-block;*display:inline;*zoom:1;position:relative;width:398px;height:38px;color:#333;border:1px solid #D0D0D0}.showMsg .row2 .searchGroup.focus{border-color:#FF8402}.showMsg .row2 .searchGroup .inputGroup{margin:0 0 0 11px;height:100%}.showMsg .row2 .searchGroup .inputGroup .keyword{width:259px;font-size:18px;line-height:38px \9}.showMsg .row2 .searchGroup .inputGroup .placeholder{line-height:38px}.showMsg .row2 .searchGroup .mySelect{position:absolute;right:0;top:0;width:117px;height:38px;line-height:38px;border:none;cursor:pointer}.showMsg .row2 .searchGroup .mySelect .options{left:0px;border-top:11px solid transparent}.showMsg .row2 .searchGroup .mySelect .options .list li{min-width:98px}.showMsg .row2 .searchBtn{margin-left:7px}.showMsg .row2 .searchBtn i{margin-right:3px;font-size:18px}.showMsg .table-title{margin-top:30px;font-size:14px}.showMsg .table-title a{display:inline-block;*display:inline;*zoom:1;margin-right:28px;text-decoration:underline;color:#0099FF}.showMsg .main-table{margin-top:14px;width:896px}.showMsg .main-table .links a{display:block}
