html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline
}

html{
	line-height:1
}

ol,ul{
	list-style:none
}

table{
	border-collapse:collapse;
	border-spacing:0
}

caption,th,td{
	text-align:left;
	font-weight:normal;
	vertical-align:middle
}

q,blockquote{
	quotes:none
}

q:before,q:after,blockquote:before,blockquote:after{
	content:"";
	content:none
}

a img{
	border:none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
	display:block
}

@font-face{
	font-family:"iconfont";
	src:url("http://at.alicdn.com/t/font_1413082920_197699.eot");
	src:url("http://at.alicdn.com/t/font_1413082920_197699.eot?#iefix") format("embedded-opentype"),url("http://at.alicdn.com/t/font_1413082920_197699.woff") format("woff"),url("http://at.alicdn.com/t/font_1413082920_197699.ttf") format("truetype"),url("http://at.alicdn.com/t/font_1413082920_197699.svg#iconfont") format("svg")
}

.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-webkit-text-stroke-width:0.2px;
	-moz-osx-font-smoothing:grayscale
}

.icon-search:before{
	content:"\e602"
}

.icon-add:before{
	content:"\e601"
}

.icon-iphone:before{
	content:"\e605"
}

.icon-clock:before{
	content:"\e606"
}

.icon-arrow-down:before{
	content:"\e603"
}

.icon-alert:before{
	content:"\e600"
}

.icon-close:before{
	content:"\e604"
}

.iconfont{
	padding-right:3px
}

.iconfont.icon-search{
	font-size:18px
}

.m-t-20{
	margin-top:20px
}

.m-t-25{
	margin-top:25px
}

.m-r-5{
	margin-right:5px
}

.m-l-40{
	margin-left:40px
}

.m-l-60{
	margin-left:60px
}

.fl{
	float:left !important
}

.fr{
	float:right !important
}

.hide{
	display:none !important
}

.pager{
	word-wrap:break-word;
	word-break:break-all;
	line-height:30px
}

.pager a,.pager span{
	color:#888;
	font-size:14px;
	border:1px solid #d0d0d0;
	background-color:#fff;
	margin:0 2.5px;
	display:inline-block;
	padding:0 8px;
	min-width:15px;
	text-align:center
}

.pager a:hover{
	text-decoration:none;
	color:#888
}

.pager span{
	background-color:#ddd
}

.pager.align-right{
	text-align:right
}

.pager.align-left{
	text-align:left
}

.pager.align-center{
	text-align:center
}

.pager .total{
	color:#888;
	font-size:14px;
	display:inline-block;
	line-height:30px;
	margin-right:10px
}

.pager .page-ellipsis{
	cursor:default;
	border:0
}

.btn-1{
	display:inline-block;
	height:37px;
	padding:0 20px 0 20px;
	line-height:37px;
	background-color:#C8400E;
	color:#FFF;
	cursor:pointer;
	border:1px solid #DD5D06;
	border-bottom-width:2px;
	vertical-align:top;
	outline:none;
	font-size:16px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}

.btn-1:hover{
	color:#FFF;
	text-decoration:none;
	background-color:#E2400E
}

.btn-2{
	display:inline-block;
	height:37px;
	padding:0 20px 0 20px;
	line-height:37px;
	background-color:#f7f7f7;
	color:#333;
	cursor:pointer;
	border:1px solid #d0d0d0;
	border-bottom-width:2px;
	vertical-align:top;
	text-align:center;
	outline:none;
	background-color:#fff;
	background-image:-moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f7f7f7));
	background-image:-webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background-image:-o-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background:-ms-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background:linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	font-size:16px
}

.btn-2 i{
	color:#666
}

.btn-2:hover{
	text-decoration:none;
	color:#FFF;
	border-color:#DD5D06;
	background:#C8400E
}

.btn-2:hover i{
	color:#FFF
}

.btn-disabled{
	display:inline-block;
	height:37px;
	padding:0 20px 0 20px;
	line-height:37px;
	background-color:#f7f7f7;
	color:#999;
	cursor:default;
	border:1px solid #d0d0d0;
	border-bottom-width:2px;
	vertical-align:top;
	text-align:center;
	outline:none;
	background-color:#fff;
	background-image:-moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f7f7f7));
	background-image:-webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background-image:-o-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background:-ms-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background:linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	font-size:16px
}

.btn-disabled i{
	color:#666
}

.ym-checkbox{
	width:0;
	height:0;
	-webkit-appearance:none;
	appearance:none;
	outline:none;
	position:absolute;
	left:0;
	top:0
}

.ym-checkbox+.icon{
	width:15px;
	height:15px;
	border:1px solid #D0D0D0;
	background-position:-10000px;
	background-color:#fff
}

.ym-checkbox:checked+.icon{
	border-color:#FF8300;
	background-position:-1px -1px
}

.ym-checkbox.checked+.icon{
	border-color:#FF8300;
	background-position:-1px -1px
}

.win-wrap{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1000
}

.win-wrap .mask{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	background-color:#000;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity:0.4
}

.win-wrap .win-inner{
	position:fixed;
	left:50%;
	top:50%;
	background-color:#fff;
	z-index:10001;
	padding:20px
}

.win-wrap .win-inner .win-title{
	border-bottom:1px solid #d0d0d0;
	padding-bottom:20px
}

.win-wrap .win-inner .win-title h1{
	border-left:4px solid #C8400E;
	padding-left:5px;
	float:left
}

.win-wrap .win-inner .win-title .close-btn{
	float:right;
	padding-left:10px;
	cursor:pointer
}

.win-wrap .alert-window .action{
	border-top:1px solid #d0d0d0;
	text-align:center;
	padding-top:30px;
	margin-top:10px
}

.win-wrap .alert-window .action .btn{
	width:100px
}

.win-wrap .alert-window .msg{
	height:60px;
	line-height:20px;
	font-size:14px;
	padding-top:10px;
	overflow:hidden
}

*{
	font-family:arial
}

body{
	background-color:#f5f5f5
}

a{
	color:#333;
	text-decoration:none
}

a:hover{
	color:#0099FF;
	text-decoration:underline
}

.cf{
	*zoom:1
}

.cf:before,.cf:after{
	display:table;
	content:"";
	line-height:0
}

.cf:after{
	clear:both
}

.align-top{
	vertical-align:top
}

.text-left{
	text-align:left !important
}

.text-right{
	text-align:right !important
}

.text-center{
	text-align:center !important
}

.text-highlight{
	color:red
}

span.required{
	color:red;
	padding-right:5px
}

.head {
	width: 1150px;
    margin: 0 auto;
}
.head .top {
    line-height: 58px;
    height: 58px;
    padding: 10px 0px;
    overflow: hidden;
    max-width: 400px;
}
.head .top .head-left.logo {
    display: table-cell;
    vertical-align: middle;
    height: 58px;
    overflow: hidden;
}

.head .top .head-right{
	padding-top:34px;
	line-height:24px;
	font-size:14px;
	float:right;
	text-align:right;
	color:#666
}

.head .top .head-right a,.head .top .head-right span{
	display:inline-block;
	vertical-align:middle
}

.head .top .head-right .sep{
	color:#dedede;
	margin:0 10px
}

.head .top .head-right .qq{
	display:inline-block
}

.head .top .head-right .user-name a{
	color:#0099FF
}

.head .top .head-right .icon-qq{
	width:20px;
	height:24px;
	margin-right:5px;
	background:url("../images/qq.png") no-repeat;
	display:inline-block;
	vertical-align:middle
}

.head .top .head-right p{
	padding:0 0 10px 0;
	*padding:0 0 5px 0
}

.head .top .head-right p .loginOut{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-left:7px
}

.head .top .head-right p .rightline{
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding-right:11px;
	margin-right:11px;
	border-right:1px solid #ccc
}

.head .menu {
    font-size: 14px;
    background: url(../Images/nav1_bg.jpg) repeat-x;
    height: 42px;
    margin-bottom: 10px; 
}
.head .menu .content {
	position: relative;
	margin: auto;
	font-size: 14px
}
.head .menu .content .nav .item {
    position: relative;
    display: block;
    width: 115px;
    background: url(../Images/nav1_split.jpg) no-repeat right 0;
    text-align: center;
    float: left;
    color: #fff;
    line-height: 42px;
}
.head .menu .content .nav .item a {
	display: block;
	width: 100%;
	height: 100%;
	color: #FFF
}
.head .menu .content .nav .item a:hover {
	text-decoration: none
	background-color: #C8400E;
}

.head .menu .content .nav .item .navBox {
	position: absolute;
	width: 168px;
	left: -16px;
	top: 43px;
	z-index: 100;
	padding-top: 17px;
	display: none
}
.head .menu .content .nav .item .navBox .nav-2 {
	background-color: #C8400E;
	padding: 10px 4px 10px 4px;
	border-radius: 3px
}
.head .menu .content .nav .item .navBox .nav-2 li {
	display: block;
	width: 160px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	border-radius: 3px
}
.head .menu .content .nav .item .navBox .nav-2 li:hover {
	background-color: #FFF
}
.head .menu .content .nav .item .navBox .nav-2 li:hover a {
	color: #333
}
.head .menu .content .nav .item .navBox .trigon {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: 9px;
	left: 80px;
	border: 4px solid transparent;
	border-bottom-color: #333
}
.head .menu .content .nav .item:hover {
	background-color: #C8400E;
}
.head .menu .content .nav .item:hover .navBox {
	display: block
}
.head .menu .content .eleProtocol, .head .menu .content .notice {
	position: absolute;
	display: block;
	height: 43px;
	padding: 0 32px 0 32px;
	top: 0;
	right: 0;
	line-height: 47px;
	color: #FFF;
	border-bottom: 4px solid transparent
}
.head .menu .content .eleProtocol:hover, .head .menu .content .notice:hover {
	text-decoration: none;
	background-color: #C8400E;
}
.head .menu .content .eleProtocol:hover a, .head .menu .content .notice:hover a {
	color: #333
}
.head .menu .content .eleProtocol.on, .head .menu .content .notice.on {
	background-color:#C8400E !important;
}
.head .menu .content .eleProtocol.eleProtocol, .head .menu .content .notice.eleProtocol {
	right: 150px
}
.head .menu .content .eleProtocol .notice-num, .head .menu .content .notice .notice-num {
	display: block;
	position: absolute;
	right: 20px;
	top: 10px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #FF4E4E
}

.crumbs{
	padding:0 0 7px 0;
	font-size:13px
}

.crumbs .notactive{
	color:#888
}

.crumbs .notactive:hover{
	text-decoration:none
}

.contain{
	width:1150px;
	margin:17px auto
}

.contain .box{
	border:1px solid #D0D0D0;
	background-color:#FFF
}

.contain .box-header{
	border-bottom:1px solid #d0d0d0;
	padding-bottom:20px;
	margin-bottom:20px
}

.contain .box-header h1{
	border-left:4px solid #C8400E;
	padding-left:5px
}

.leftLineTitle{
	color:#333;
	border-left:4px solid #FE8503;
	padding-left:6px
}

.icon{
	display:inline-block;
	vertical-align:middle;
	background:url(../images/icon.png) no-repeat
}

.checkBox{
	width:15px;
	height:15px;
	border:1px solid #D0D0D0;
	background-position:-10000px;
	background-color:#fff
}

.checkBox.checked{
	border-color:#FF8300;
	background-position:-1px -1px
}

.inputGroup{
	position:relative;
	display:inline-block;
	*display:inline;
	*zoom:1;
	cursor:text
}

.inputGroup input{
	height:100%;
	border:none;
	outline:none;
	background-color:transparent
}

.inputGroup .placeholder{
	display:block;
	position:absolute;
	height:100%;
	left:0;
	top:0;
	z-index:0;
	color:#888;
	cursor:text
}

.inputGroup .rightline{
	position:absolute;
	display:block;
	width:0;
	height:20px;
	right:0;
	top:10px;
	border-right:1px solid #E8E8E8
}

.inputGroup .connection{
	position:absolute;
	display:block;
	left:-12px;
	top:40px;
	width:267px;
	padding:1px;
	background-color:#FFF;
	border:1px solid #D0D0D0;
	z-index:10;
	display:none;
	max-height:300px;
	overflow:auto
}

.inputGroup .connection li{
	display:block;
	width:95%;
	height:30px;
	font-size:14px;
	padding-left:5%;
	line-height:30px;
	cursor:pointer
}

.inputGroup .connection li.choose,.inputGroup .connection li:hover{
	color:#FFF;
	background-color:#C8400E
}

.main-table{
	width:958px;
	margin:20px auto;
	border:1px solid #ddd;
	border-collapse:collapse
}

.main-table a{
	color:#0099FF;
	text-decoration:underline
}

.main-table .table-head{
	background-color:#F0F0F0;
	color:#333
}

.main-table .table-head th{
	height:45px;
	padding:0 0 0 15px;
	border:1px solid #ddd
}

.main-table td{
	font-size:14px;
	line-height:22px;
	padding:15px 16px 15px 16px;
	color:#898989;
	border:1px solid #ddd
}

.main-table td .waitForCheck{
	color:#FF7101;
	text-decoration:none
}

.main-table td .notPass{
	color:#FD3535;
	text-decoration:none
}

.mySelect{
	position:relative;
	width:158px;
	height:34px;
	line-height:34px;
	cursor:pointer;
	padding-left:11px;
	border:1px solid #D0D0D0
}

.mySelect .value{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:90px;
	white-space:nowrap;
	overflow:hidden
}

.mySelect .icon{
	position:absolute;
	width:20px;
	height:13px;
	right:7px;
	top:12px;
	background-position:-28px -3px
}

.mySelect .options{
	position:absolute;
	display:none;
	top:30px;
	left:-1px;
	border-top:8px solid transparent;
	z-index:10
}

.mySelect .options .list{
	background-color:#FFF;
	border:1px solid #D0D0D0;
	padding:1px
}

.mySelect .options .list li{
	font-size:14px;
	line-height:14px;
	padding:8px 14px 8px 14px;
	min-width:139px;
	cursor:pointer
}

.mySelect .options .list li:hover{
	background-color:#FF8402;
	color:#FFF
}

.mySelect:hover{
	border-color:#FF8402
}

.foot{
	color:#888;
	font-size:14px;
	text-align:center;
	margin-bottom:56px
}

.foot p{
	padding:5px
}

.foot a{
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#888
}

.foot a:hover{
	color:#0099FF
}

.foot .rightline{
	padding-right:11px;
	margin-right:11px;
	border-right:1px solid #ccc
}

.date-range-picker{
	font-size:0;
	display:inline-block
}

.date-range-picker .icon{
	width:26px;
	height:24px;
	background-position:-52px -22px;
	margin:-2px 10px 0 0
}

.date-range-picker .start-time,.date-range-picker .end-time,.date-range-picker .to{
	display:inline-block;
	width:107px;
	height:38px;
	padding:0;
	padding-left:11px;
	color:#333;
	line-height:38px;
	border:1px solid #D0D0D0;
	cursor:pointer;
	vertical-align:middle;
	outline:none;
	font-size:14px
}

.date-range-picker .to{
	width:40px;
	padding:0;
	border-left:none;
	border-right:none;
	text-align:center;
	color:#888;
	background-color:#F3F3F3
}

.date-range-picker.month-filter .mySelect{
	font-size:14px;
	width:90px;
	display:inline-block;
	vertical-align:middle;
	height:38px;
	line-height:38px
}

body{
	background-color:#FFF
}

.indexIcon{
	display:inline-block;
	*display:inline;
	*zoom:1;
	background:url(../images/indexIcon.png) no-repeat
}

.banner{
	min-width:1000px;
	height:408px;
	background:url(../images/banner.jpg) no-repeat;
	background-position:center top
}

.banner .center{
	position:relative;
	width:1000px;
	height:100%;
	margin:auto
}

.banner .center .notice{
	position:absolute;
	width:430px;
	height:36px;
	right:0;
	top:0;
	line-height:36px;
	background-color:rgba(255,255,255,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#B2FFFFFF, endcolorstr=#B2FFFFFF) \9
}

.banner .center .notice .indexIcon{
	width:28px;
	height:17px;
	background-position:-307px 0;
	margin:10px 14px 0 11px
}

.banner .center .notice .value{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	font-size:14px;
	height:100%
}

.banner .center .notice .close{
	position:absolute;
	display:block;
	right:10px;
	top:-2px;
	font-size:25px;
	cursor:pointer
}

.banner .center .login{
	position:absolute;
	width:320px;
	height:195px;
	padding-bottom:80px;
	top:20px;
	right:20px;
	background-color:#FFF;
	box-shadow:#555 0 0 8px
}

.banner .center .login .inputGroup{
	border:1px solid #D0D0D0;
	margin:20px 0 0 20px
}

.banner .center .login .inputGroup .indexIcon{
	display:block;
	position:absolute;
	width:13px;
	height:13px;
	left:11px;
	top:11px;
	background:url(../images/indexIcon.png) no-repeat
}

.banner .center .login .inputGroup input{
	width:246px;
	height:34px;
	line-height:34px \9;
	margin-left:33px
}

.banner .center .login .inputGroup .placeholder{
	left:33px;
	line-height:34px
}

.banner .center .login .inputGroup.name .indexIcon{
	background-position:-323px -76px
}

.banner .center .login .inputGroup.pwd .indexIcon{
	background-position:-307px -76px
}

.banner .center .login .inputGroup.checkcode{
	width:165px
}

.banner .center .login .inputGroup.checkcode input[type="text"]{
	width:120px
}

.banner .center .login .inputGroup.checkcode .code{
	position:absolute;
	width:98px;
	height:36px;
	overflow:hidden;
	right:-115px;
	top:0;
	line-height:34px;
	border:1px solid #D0D0D0
}

.banner .center .login .inputGroup.checkcode .code img{
	width:100%;
	height:100%;
	border:0;
	cursor:pointer
}

.banner .center .login .inputGroup.checkcode .indexIcon{
	background-position:-307px -76px
}

.banner .center .login .submit{
	display:block;
	width:280px;
	height:46px;
	margin:21px auto;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}

.banner .center .login .regandfor{
	width:280px;
	margin:auto;
	font-size:15px
}

.banner .center .login .regandfor .register{
	float:left;
	color:#0099FF;
	text-decoration:underline;
	*border-bottom:1px solid #0099FF
}

.banner .center .login .regandfor .forgetPwd{
	float:right;
	color:#333;
	text-decoration:underline;
	*border-bottom:1px solid #333
}

.banner .center .login .email{
	position:absolute;
	width:100%;
	height:69px;
	bottom:0;
	background-color:#EDEDED
}

.banner .center .login .email .indexIcon{
	position:absolute;
	width:42px;
	height:37px;
	left:20px;
	top:16px;
	background-position:-292px -24px
}

.banner .center .login .email .emailValue{
	margin:14px 0 0 83px;
	color:#909090;
	font-size:15px;
	line-height:21px
}

.banner .center .login .email .emailValue a{
	color:#909090
}

.banner .center .login .login-error{
	position:absolute;
	bottom:0;
	left:0;
	height:47px;
	width:273px;
	background-color:#fdeee9;
	font-size:14px;
	border:1px solid #f17975;
	z-index:2;
	overflow:hidden;
	padding:12px 5px 10px 40px
}

.banner .center .login .login-error .icon-wrap{
	position:absolute;
	left:15px;
	top:15px;
	display:inline-block
}

.banner .center .login .login-error .error-msg{
	line-height:22px
}

.banner .center .login .login-error i{
	color:#e7370e
}

.banner .center .login .login-error a{
	color:#0099ff;
	text-decoration:underline
}

.gameMsg{
	position:relative;
	width:1000px;
	margin:38px auto
}

.gameMsg .title{
	position:relative;
	height:40px;
	line-height:40px;
	font-size:20px;
	border-bottom:1px solid #D0D0D0
}

.gameMsg .title span{
	display:block;
	width:130px;
	height:39px;
	text-align:center;
	border-bottom:3px solid #C8400E
}

.gameMsg .title a{
	display:block;
	position:absolute;
	right:10px;
	top:0;
	font-size:15px;
	color:#0099FF;
	text-decoration:underline
}

.gameMsg .float-left{
	width:620px;
	float:left
}

.gameMsg .float-left .gameContent li{
	display:block;
	float:left;
	width:200px;
	height:70px;
	margin:20px 10px 0 0
}

.gameMsg .float-left .gameContent li img{
	width:68px;
	height:68px;
	float:left;
	border-radius:5px
}

.gameMsg .float-left .gameContent li .gameName,.gameMsg .float-left .gameContent li .gameKind{
	float:left;
	width:110px;
	height:36px;
	margin-left:17px;
	line-height:36px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}

.gameMsg .float-left .gameContent li .gameKind{
	font-size:15px;
	color:#888
}

.gameMsg .float-left .gameContent li.nom{
	margin-right:0
}

.gameMsg .float-right{
	width:338px;
	float:right
}

.gameMsg .float-right .gameContent{
	padding:10px
}

.gameMsg .float-right .gameContent li{
	font-size:15px;
	line-height:30px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}

.gameMsg .float-right .gameContent li .special{
	color:#C8400E
}

.gameMsg .float-right .gameContent li a:hover{
	color:currentColor
}

.gameMsg .float-right .gmsg{
	position:relative;
	display:block;
	width:338px;
	height:200px;
	margin-top:15px;
	background:888
}

.gameMsg .float-right .gmsg li{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	left:0;
	top:0
}

.gameMsg .float-right .gmsg li a{
	display:block;
	width:100%;
	height:100%
}

.gameMsg .float-right .gmsg li a img{
	width:100%;
	height:100%
}

.gameMsg .float-right .gmsg li a .gameDes{
	position:absolute;
	display:block;
	width:100%;
	height:40px;
	left:0;
	bottom:0;
	color:#FFF;
	text-align:center;
	line-height:40px;
	background-color:rgba(0,0,0,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000) \9
}

.howToConnect{
	height:400px;
	background-color:#F8F8F8
}

.howToConnect .title{
	width:968px;
	margin:auto;
	padding:32px 0 0 27px;
	font-size:18px
}

.howToConnect .guide-img{
	width:1000px;
	height:175px;
	margin:35px auto 25px auto;
	background:url(../images/guide-img.png) center center no-repeat
}

.howToConnect .guide-text{
	width:1000px;
	margin:0 auto;
	white-space:no-repeat
}

.howToConnect .guide-text li{
	width:208px;
	margin-right:53px;
	text-align:center;
	float:left
}

.howToConnect .guide-text .last{
	margin-right:0
}

.howToConnect .guide-text .tit{
	font-size:16px;
	width:100%
}

.howToConnect .guide-text .des{
	width:100%;
	font-size:14px;
	color:#888;
	margin-top:10px;
	line-height:25px
}

.parner{
	position:relative;
	width:1000px;
	margin:32px auto 37px auto;
	padding-bottom:30px;
	border-bottom:1px solid #D0D0D0
}

.parner .title{
	width:968px;
	margin:0 auto 48px auto;
	padding-left:27px;
	font-size:18px
}

.parner .wrapper{
	position:relative;
	overflow:hidden;
	height:120px
}

.parner .wrapper .slider{
	position:absolute;
	top:0;
	left:0;
	display:block;
	height:62px
}

.parner .wrapper .slider li{
	position:relative;
	display:block;
	float:left;
	width:60px;
	height:60px;
	background:no-repeat;
	background-position:0 -60px;
	margin:0 32px 0 32px
}

.parner .wrapper .slider li a{
	width:100%;
	height:100%;
	display:inline-block;
	color:#555
}

.parner .wrapper .slider li .main-info{
	position:absolute;
	display:block;
	width:80px;
	height:33px;
	top:70px;
	left:-10px;
	background-color:#FFF;
	font-size:14px;
	text-align:center;
	line-height:30px;
	border:1px solid #D0D0D0;
	box-shadow:#CCC 0 1px 1px;
	opacity:0;
	filter:Alpha(Opacity=0);
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	transition:all 0.3s
}

.parner .wrapper .slider li .main-info .outer-arrow{
	display:block;
	position:absolute;
	width:0;
	height:0;
	top:-14px;
	left:33px;
	border:7px solid transparent;
	border-bottom-color:#D0D0D0
}

.parner .wrapper .slider li .main-info .outer-arrow .inner-arrow{
	display:block;
	position:absolute;
	width:0;
	height:0;
	top:-5px;
	left:-6px;
	z-index:2;
	border:6px solid transparent;
	border-bottom-color:#FFF
}

.parner .wrapper .slider li:hover{
	background-position:0 0px
}

.parner .wrapper .slider li:hover .main-info{
	top:76px;
	opacity:1;
	filter:Alpha(Opacity=100)
}

.parner .prev,.parner .next{
	position:absolute;
	display:block;
	width:30px;
	height:50px;
	left:-64px;
	top:70px;
	opacity:.6;
	filter:alpha(opacity=60);
	background:url(../images/indexIcon.png) no-repeat;
	background-size:280px auto;
	background-position:-204px 1px;
	cursor:pointer
}

.parner .prev.next,.parner .next.next{
	left:auto;
	right:-64px;
	background-position:-204px -49px
}

.parner .prev:hover,.parner .next:hover{
	opacity:1;
	filter:alpha(opacity=100)
}

.right-notice{
	position:fixed;
	right:0px;
	bottom:-270px;
	padding:26px;
	width:263px;
	height:143px;
	background:url(../images/indexIcon.png) no-repeat;
	background-position:-12px -336px;
	z-index:2;
	overflow:hidden
}

.right-notice .rn-title{
	color:#FF6600;
	padding-bottom:10px;
	border-bottom:1px solid #EDEDED;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding-right:30px
}

.right-notice .close{
	position:absolute;
	display:block;
	right:28px;
	top:18px;
	color:#333;
	font-size:25px;
	cursor:pointer
}

.right-notice .content{
	padding-top:5px;
	font-size:14px;
	line-height:23px;
	overflow:hidden;
	height:110px
}
