<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TempName" value="Index"/>
    <add key="AppKey" value="12454407" />
    <add key="AppSecret" value="210fcc60259864a69f6d9359b79ff0bc" />
    <add key="RestUrl" value="http://gw.api.taobao.com/router/rest" />
    <add key="Pid" value="29838391" />
  </appSettings>
</configuration>