<?xml version="1.0"?>
<WebSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>守游网络推广平台</WebName>
  <WebUrl>http://gm.game-center.cn</WebUrl>
  <WebPath>/</WebPath>
  <WeblogPath>LogFile</WeblogPath>
  <WebTel>020-38370156</WebTel>
  <WebFax>020-38370156</WebFax>
  <WebEmail>bd@game-center.cn</WebEmail>
  <WebQQ1>2853662068</WebQQ1>
  <WebQQ2>2853662069</WebQQ2>
  <SettlementCycle>1</SettlementCycle>
  <ChannelNum>1</ChannelNum>
  <WebCrod>粤ICP备15030437号</WebCrod>
  <WebCopyright>Copyright © 2012-2015 Game-center.cn. All rights reserved. ICP: 粤ICP备15030437号</WebCopyright>
  <WebKeywords>WebKeywords</WebKeywords>
  <WebDescription>WebDescription</WebDescription>
  <WebLogStatus>0</WebLogStatus>
  <WebKillKeywords>Fuck</WebKillKeywords>
  <WebProSize>20</WebProSize>
  <WebNewsSize>15</WebNewsSize>
  <WebFilePath>UpLoadFiles</WebFilePath>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS</WebFileType>
  <WebFileSize>5120</WebFileSize>
  <IsThumbnail>0</IsThumbnail>
  <ProWidth>150</ProWidth>
  <ProHight>150</ProHight>
  <IsWatermark>2</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>8</ImgWaterTransparency>
  <WaterText>XX公司</WaterText>
  <WaterFont>Arial</WaterFont>
  <FontSize>30</FontSize>
  <ArtModelUrl>#</ArtModelUrl>
  <ProModelUrl>#</ProModelUrl>
  <DownModelUrl>#</DownModelUrl>
  <Uid />
  <Pwd />
  <Smsurl />
</WebSet>